<div>
    <p>Are you sure you want to use LGTMeow?</p>
    <p>Github's <a href="https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners" target="_blank">built-in CODEOWNERS support</a> probably does what you need.</p>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Use CODEOWNERS</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(1)">Use LGTMeow</button>
    </div>
</div>
