<!DOCTYPE html>
<html ng-app="app" lang="en">
    <head>
        <title></title>
        <base href="/">
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="ie=edge" http-equiv="x-ua-compatible" />
        <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link href="/static/styles.css" rel="stylesheet" />

    </head>
    <body>
        <div id="root"></div>
        <div ng-view></div>
        <script>
            window.STATE_FROM_SERVER={{ . | json }}
        </script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-resource.js"></script>
        <!-- <script src="/static/script.js"></script> -->
        <script src="/static/angular-toggle-switch.min.js"></script>
        <script src="/static/ngDialog.min.js"></script>
        <script src="/static/checksout.js"></script>
    </body>
</html>
